@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #f9f9f9;
}

.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.header--wrapper i {
  margin-right: 0.8rem;
}

.header--wrapper {
  font-weight: 700;
}

.profile {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img {
  display: block;
  border-radius: 50%;
  width: 7rem;
}

.profile--name {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.profile--status,
.profile--contact {
  font-size: 0.9rem;
  color: #696969;
}

.profile--place {
  font-size: 0.95rem;
  margin-top: 1rem;
  color: #696969;
}

.profile--place i {
  font-size: 0.9rem;
  margin-right: 0.1rem;
}

.btn {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.btn button {
  width: 48%;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
  height: 2.1rem;
  font-weight: 700;
}

.btn button:first-child {
  background-color: #0057ff;
  color: white;
  border: 1px solid #0057ff;
}

.nav {
  padding: 0.3rem 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  color: #696969;
  font-weight: 700;
}

.nav li {
  margin-right: 1.3rem;
}

.nav li:last-child {
  margin-right: 0;
}

.nav--now {
  color: #191919;
  border-bottom: 1px solid #191919;
}

.works {
  list-style: none;
  margin: 0;
  padding: 1.5rem;
}

.works li {
  margin-bottom: 0.7rem;
}

.works img {
  width: 100%;
}
