@import url("reset.css");

@font-face {
  font-family: "YESMyoungjo-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SDKukdetopokki-Lt";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SDKukdetopokki-aLt00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: inherit;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: #303030;
}

.wrapper {
  width: 18rem;
  display: flex;
  padding: 10rem 2rem;
  flex-direction: column;
  align-items: flex-end;
}

p {
  font-family: "YESMyoungjo-Bold", "Courier New", Courier, monospace;
  font-size: 2.5rem;
  line-height: 1.65;
  color: #d3d3d3;
  margin-bottom: 3.5rem;
}

a {
  font-family: "SDKukdetopokki-Lt", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  color: #d3d3d3;
}

a i {
  margin-right: 0.5rem;
}
